@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #000000 !important;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }
}

.neopop-shadow-blue {
  box-shadow: 6px 6px 0px 0px #3d5afe;
}
.neopop-shadow-green {
  box-shadow: 6px 6px 0px 0px #00e676;
}
.neopop-shadow-white {
  box-shadow: 6px 6px 0px 0px #ffffff;
}